@model Category
@{
    ViewData["Title"] = "Register";
}
@if (Model != null)
{
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Cadastrar Categoria</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a asp-action="Panel" asp-controller="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><a asp-action="Index" asp-controller="Category"><span>Categorias</span></a></li>
                    <li><span>Cadastrar Categoria</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">

                <form asp-action="Update" asp-controller="Category" method="post" class="form-horizontal">
                    <section class="panel panel-primary">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>

                            <h2 class="panel-title">Cadastrar Categoria</h2>
                        </header>
                        <div class="panel-body">
                            <input  asp-for="Id" class="hidden"/>
                            <div class="form-group">
                                <label  asp-for="Name"class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Slug" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Slug" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  asp-for="ParentCategoryId"class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <select data-plugin-selectTwo class="form-control populate"  asp-for="ParentCategoryId" asp-items="@ViewBag.Category">
                                        <option value="">Selecione uma opção</option>
                                    </select>
                                 </div>
                            </div>
                        </div>
                        <footer class="panel-footer">
                            <button type="submit" class="btn btn-primary">Atualizar </button>
                        </footer>
                    </section>
                </form>
            </div>
        </div>
    </section>

}
else
{
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Cadastrar Categoria</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a asp-action="Panel" asp-controller="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><a asp-action="Index" asp-controller="Category"><span>Categorias</span></a></li>
                    <li><span>Cadastrar Categoria</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">

                <form asp-action="Register" asp-controller="Category" method="post" class="form-horizontal">
                    <section class="panel panel-primary">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>

                            <h2 class="panel-title">Cadastrar Categoria</h2>
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <input asp-for="Id" class="hidden" />
                                <label asp-for="Name" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Slug" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Slug" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParentCategoryId" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <select data-plugin-selectTwo class="form-control populate" asp-for="ParentCategoryId" asp-items="@ViewBag.Category">
                                        <option value="">Selecione uma opção</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer">
                            <button type="submit" class="btn btn-primary">Cadastrar </button>
                            <button type="reset" class="btn btn-default">Resetar</button>
                        </footer>
                    </section>
                </form>
            </div>
        </div>
    </section>
}
